/* Profile.css */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&family=Zilla+Slab:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
/* Fonts */

body {
  margin: 0;
  font-family: 'Young Serif', serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vh;
  background-color: #000310;
}

.title {
  font-family: 'Zilla Slab', serif, italic;
  color: #b9b794;
  font-size: 4vh;
  margin-bottom: 2vh;
}

.image-column,
.info-column {
  width: 100%;
}

.profile img {
  width: 20vw;
  height: auto;
  border-radius: 50%;
}

.profissao {
  font-size: 5vh;
  color: #eb5119;
  margin-top: 2vh;
}

.languages, .frameworks, .dbo {
  color: #fffffd;
  font-family: 'Glory', sans-serif;
  margin-top: 1vh;
  line-height: 1.2;
  font-size: 3vh;
}

small {
  color: #FFFFFF;
  line-height: 1.5;
}
