.frameworks{
    color: azure;
}
.profile{
   display: table-row;
   text-align: center;
   justify-content: center;
}

/* Profile.module.css */

.frameworks {
    color: #fffb00;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .profile h2 {
    color: #EEE9E9;
    margin: 2px;
  }
  
  .profile img {
    height: 35vh;
  }
  
  .profile p {
    color: #FF1493;
    font-style: oblique;
    font-size: 3vmin;
    margin: 2px calc(1vmax - 2px);
  }
  