.frameworks{
    color: azure;
}
.profile{
   display: table-row;
   text-align: center;
   justify-content: center;
}

.profile h2{
 color: azure;
 margin-left: 2px;
 margin-right: 2px;
}

.profile img {
height: 35vh;
}

.profile p {
    color: #08a400;
    font-style: oblique;
    font-size: 3vmin;
    margin-left: 2px;
    margin-right: calc(1vmax - 2px);
    
}

